@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Generic Styles -------*/
body {
  padding: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.theme-purple {
  color: #6415ff;
}

.subTitle {
  margin-bottom: 1rem;
  color: #6415ff;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: rgb(36 62 99);
}

.para {
  width: 100%;
  font-size: 1.125rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
}

.learn-more__button {
  color: #f7fafc;
  background-color: #6415ff;
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  font-weight: 700;
  transition: all 300ms ease-in;
  cursor: pointer;
  width: fit-content;
  border: none;
}

.learn-more__button:hover {
  background-color: #5011cc;
}

/* --------- Navbar ------------- */
nav {
  display: flex;
}

.nav__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  margin-right: 24px;
}

.nav__logo--img {
  width: 40px;
  margin-right: 12px;
}

.nav__logo--txt {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  transition: all 200ms ease-in-out;
}

.nav__logo--txt:hover {
  color: #6415ff;
}

.nav-menu__links {
  display: flex;
  justify-content: space-around;
}

.nav-menu__link {
  margin: 0 24px;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 4px;
  transition: color 300ms ease-in;
}

.nav-menu__link:hover {
  color: #6415ff;
  border-bottom: solid #6415ff 2px;
}

.nav__link--secondary {
  margin-left: 48px;
}

.nav__link--primary {
  color: #f7fafc;
  background-color: #6415ff;
  margin: 0;
  padding: 12px 32px;
  border-radius: 20px;
}

.nav__link--primary:hover {
  border: none;
  color: #edf2f7;
  background-color: #5011cc;
}

/* ------------ landing section ----------- */
.landing {
  padding: 96px 0;
  display: flex;
}

.landing__CTA {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.landing__CTA--title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.landing__CTA--para {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: inherit;
  color: #243e63;
}

.landing__CTA--form {
  position: relative;
}

.landing__CTA--form-email {
  padding: 1.25rem 12rem 1.25rem 2rem;
  border: solid 2px rgb(226, 232, 240);
  border-radius: 9999px;
  font-size: 100%;
}

.landing__CTA--form-email::placeholder {
  opacity: 0.5;
}

.landing__CTA--form-submit {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4rem;
  margin: 8px 8px 8px 0%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #f7fafc;
  background-color: #6415ff;
  border: none;
}

.landing__CTA--trusted-brands {
  margin-top: 5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(160 174 192);
}

.landing__CTA--trusted-img {
  padding-right: 8rem;
  margin-top: 1rem;
  width: 100%;
  opacity: 0.5;
}

.landing__illustration {
  width: 60%;
}

.landing__illustration--img {
  width: 100%;
}

/* ----------- features ------------ */
.feautres__container {
  padding: 96px 0;
}

.feautres__container .row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  max-width: 1024px;
  flex-flow: column wrap;
}

.features__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__title {
  text-align: center;
}

.features__header--para {
  text-align: center;
  max-width: 36rem;
}

.feature__cards {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

.feature__card {
  width: calc(100% / 3);
  max-width: 18rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  display: flex;
  height: 100%;
  padding: 2rem 0.25rem;
  margin: 0 8px;
}

.feature__card--icon {
  flex-shrink: 0;
  border-radius: 9999px;
  border-width: 1px;
  padding: 1rem;
  text-align: center;
  border: solid 1px rgb(226, 232, 240);
  max-width: 100%;
}

.feature__card--text {
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.feature__card--title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.feature__card--para {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(124 139 161);
}

/* ---------- Quality Work Section ---------- */

.quality-section__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.quality__text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.quality__text--button {
  margin-top: 2rem;
}

.quality__illustration {
  width: 50%;
}

.quality__illustration--img {
  width: 100%;
  border: solid rgb(226, 232, 240) 1px;
}

/* ----------- steps ------------------. */
.steps-section__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.steps__illustration {
  width: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.steps__illustration--img {
  max-width: 100%;
}

.steps__text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  padding: 2rem 0;
  justify-content: center;
}

.steps__get-started-steps {
  margin-top: 3rem;
}

.steps__get-started-step {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.steps__get-started-step--number {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203 213 224);
}

.steps__get-started-step--description {
  margin-left: 1.5rem;
}

.steps__get-started-step--description-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.steps__get-started-step--description-para {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(113 128 150);
}

/* --------------- Values ----------- */
.values-section__wrapper {
  width: 100%;
  display: flex;
}

.values__text-wrapper {
  width: 50%;
  margin-right: 4rem;
  padding: 2rem 0;
}

.values__text--subparas {
  display: flex;
  max-width: none;
  text-align: left;
}

.values__text--subpara {
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.values__text--subpara-header {
  display: flex;
  align-items: center;
}

.values__text--subpara-header-icon {
  padding: 0.5rem;
  flex-shrink: 0;
  margin: auto;
  border-radius: 9999px;
  vertical-align: middle;
  overflow: hidden;
}

.dollar-icon {
  background-color: #9ae6b4;
  color: rgb(39 103 73);
}

.case-icon {
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
}

.values__text--subpara-header-title {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.values__text--subpara-description {
  margin-top: 1rem;
  line-height: 1.625;
  color: #718096;
}

.values__text--button {
  margin-top: 3rem;
}

.values__illustration {
  width: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.values__illustration--img {
  width: 100%;
}

/* --------------- Pricing ----------- */
.pricing__text--wrapper {
  text-align: center;
}

.pricing__plans--wrapper {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing__plan {
  position: relative;
  margin-right: 2rem;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.5rem 2rem 0 2rem;
  text-align: center;
}

.pricing__plan--top-border {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.enterprise-plan__top-border {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing__plan--header {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-transform: uppercase;
  line-height: 1.625;
  font-weight: 700;
}

.pricing__plan--header-name {
  font-size: 1.25rem;

  color: #1a202c;
}

.pricing__plan--header-price {
  font-size: 3rem;

  margin: 0.25rem 0;
}

.pricing__plan--header-duration {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: #a0aec0;
}

.pricing__plan--features {
  padding: 2rem;
  border-top: solid #e2e8f0 2px;
  border-bottom: solid #e2e8f0 2px;
  display: flex;
  flex-direction: column;
}

.pricing__plan--feature-header {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.pricing__plan--feature {
  margin-top: 1.25rem;
  font-weight: 500;
  color: #718096;
}

.pricing__plan--action {
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
}

.pricing__plan--action-button {
  width: 100%;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-radius: 9999px;
  padding: 1rem 2rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #f7fafc;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  cursor: pointer;
}

.business__pricing--plan {
  border-radius: 0.5rem;
  background: #6415ff;
}

.business__header--name,
.business__header--price,
.business__header--duration,
.business__feature--header,
.business__feature {
  color: #f7fafc;
}

.business-plan__action--button {
  background: #f7fafc;
  color: #6415ff;
}

.enterprise-plan__action--button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* --------------- Testimony ----------- */
.testimony__section--wrapper {
  display: flex;
}

.testimony__illustration {
  width: 50%;
}

.testimony__illustration--img {
  width: 100%;
}

.testimony__text--wrapper {
  width: 50%;
  padding-left: 4rem;
}

.testimony__text--testimonials {
  width: 100%;
  margin-top: 2.5rem;
  text-align: left;
}
